@font-face {
  font-family: 'Norse';
  src: url('fonts/Norse-Bold.woff2') format('woff2'),
    url('fonts/Norse-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.image-sidebar {
  width: 1100px;
  background-image: url(background-image.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

h1 {
  font-family: 'Norse', 'Times New Roman', Times, serif;
}

.header {
  height: 130px;
}

.logo {
  height: 110px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: white;
  position: relative;
  top: 200px;
  background-color: #0005;
}

.image-sidebar > .photo-by {
  margin-bottom: 1rem;
}

.image-sidebar > .photo-by,
.image-sidebar > .photo-by > a {
  color: white;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content > .motivator {
  flex: 1;
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 40px;
  padding-bottom: 60px;
  background-color: #eee;
}

.content > form {
  flex: 2;
  padding-top: 20px;
  padding-bottom: 32px;
  background-color: #eee;
}

.form-inputs {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 32px;
}

.content p {
  font-weight: bold;
  font-size: 1.2rem;
}

form p {
  background-color: white;
  padding-left: 40px;
  padding-top: 20px;
}

.form-element {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-right: 40px;
  gap: 2px;
}

.form-element label {
  font-size: 0.7rem;
  letter-spacing: 0.15rem;
}

.form-element input {
  width: 200px;
  height: 2rem;
  padding-left: 12px;
}

.login-register {
  background-color: #eee;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  box-shadow: inset 0px 8px 4px rgb(190, 190, 190);
}

.login-register button {
  display: block;
  height: 40px;
  width: 200px;
  font-weight: bold;
  background-color: darkgreen;
  color: white;
  border-radius: 4px;
  box-shadow: 0px 8px 8px -8px gray;
  margin-top: 12px;
  margin-bottom: 28px;
}

.login-span a {
  color: darkgreen;
  font-weight: bold;
  text-decoration: none;
}
